{% extends "base.html" %}
{% block title %}Shows{% endblock %}
{% block content %}

<h1>Testing the Shows Blueprint main page</h1>

<div class="container shows">
  
</div>

{% for show in shows %}
    <div class="card" style="background-color:cadetblue; border-color:darkblue;">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">{{show.title}}</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
{% endfor %}

<!-- load the script tags for the js file -->
{% block scripts %}
<script src="{{ url_for('shows.static', filename='js/shows.js')}}" defer></script>
{% endblock %}
{%endblock%}