{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block content %}

<h1>Testing the Movies Blueprint main page</h1>

{% for movie in movies %}
    <div class="card" style="background-color:cadetblue; border-color:darkblue;">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">{{movie.title}}</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
{% endfor %}

<!-- load the script tags for the js file -->
{% block scripts %}
<script src="{{ url_for('movies.static', filename='js/movies.js')}}" defer></script>
{% endblock %}
{%endblock%}