{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<h1>{{ animal.name }}</h1>

<div class="container" id="{{animal.name}}">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{animal.name}}</h4>
                {% if summary %}
                {% for current_headline, node in summary %}
                <h3 class>{{current_headline.get_text}}</h3>
                <p>{{node}}</p>
                {% endfor %}
                {% endif %}
        </div>
    </div>
</div>

<div class="button" id="top-left"><a href="/media">Media</a></div>


{% endblock %}