{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<h1 class="banner">{{ animal.name }}</h1>
<div class="container">
    
<div class="wrap" id="{{animal.name}}">
    <div class="card">
        <div class="card-body bg-dark">
            <h3 class="card-title">{{animal.name}}</h4>
                {% if summary %}
                {% for current_headline, node in summary %}
                <h3 class="text-center">{{current_headline.get_text}}</h3>
                <p>{{node}}</p>
                {% endfor %}
                {% endif %}
        </div>
    </div>
    <div class="button"><a class="c71" href="(url_for('universe.animal'))">Animals</a></div>
</div>

</div>


{% endblock %}