{% extends "base.html" %} {% block title %} Universe {% endblock %} {% block
content %}
<h1 text-center>Universe</h1>
<!-- This link should take us to an animal page -->
<div class="container text-justify" id="universe-info">
  <p class="universe-info">
    Learn more about the Star Trek universe by clicking on the links below.
  </p>
  <p class="universe-info">
    From animals to spaceships to weapons, the Star Trek universe is vast and
    varied.
  </p>
  <p class="universe-info">
    Spanning over 50 years, close to 900 episodes, and 13 movies, the Star Trek
    universe is a rich and diverse one.
  </p>
</div>
<ul>
  <li><a href="/universe/animals">animals</a></li>
  <li><a href="/universe/astronomical-objects">astronomical objects</a></li>
  <li><a href="/universe/character">character</a></li>
  <li><a href="/universe/conflict">conflict</a></li>
  <li><a href="/universe/element">element</a></li>
  <li><a href="/universe/food">food</a></li>
  <li><a href="/universe/location">location</a></li>
  <li><a href="/universe/occupation">occupation</a></li>
  <li><a href="/universe/organization">organization</a></li>
  <li><a href="/universe/spacecraft">spacecraft</a></li>
  <li><a href="/universe/spacecraft-class">spacecraft class</a></li>
  <li><a href="/universe/species">species</a></li>
  <li><a href="/universe/technology">technology</a></li>
  <li><a href="/universe/weapon">weapon</a></li>
  <li><a href="/universe/weapons">weapons</a></li>
</ul>
{% endblock %}
