{% extends "base.html" %} {% block title %} Universe {% endblock %} {% block
content %}
<h1 text-center>Universe</h1>
<!-- This link should take us to an animal page -->
<div class="container text-justify" id="universe-info">
  <p class="universe-info">
    Learn more about the Star Trek universe by clicking on the links below.
  </p>
  <p class="universe-info">
    From animals to spaceships to weapons, the Star Trek universe is vast and
    varied.
  </p>
  <p class="universe-info">
    Spanning over 50 years, close to 900 episodes, and 13 movies, the Star Trek
    universe is a rich and diverse one.
  </p>
</div>
<ul>
  <li><a href="/universe/animals">animals</a></li>
  <p>has some data</p>
  <li><a href="/universe/astronomical-objects">astronomical objects</a></li>
  <li><a href="/universe/characters">characters</a></li> 
  <p>The characters route is returning blank what seems to be the correct format</p>
  <li><a href="/universe/conflicts">conflict</a></li>
  <p>skipped on for not on 07.21.23 need a better way to process this bit of infomation</p>
  <li><a href="/universe/elements">element</a></li>
  <p>skipped on for not on 07.21.23 need a better way to process this bit of infomation</p>

  <li><a href="/universe/foods">food</a></li>
  <p>skipped on for not on 07.21.23 need a better way to process this bit of infomation</p>

  <li><a href="/universe/locations">location</a></li>
  <p>skipped on for not on 07.21.23 need a better way to process this bit of infomation</p>

  <li><a href="/universe/occupations">occupation</a></li>
  <p>The characters route is returning blank what seems to be the correct format</p>

  <li><a href="/universe/organizations">organization</a></li>
  <li><a href="/universe/spacecrafts">spacecraft</a></li>
  <li><a href="/universe/spacecraft-classes">spacecraft class</a></li>
  <li><a href="/universe/species_all">species</a></li>
  <li><a href="/universe/technologies">technology</a></li>
  <li><a href="/universe/weapons">weapons</a></li>
</ul>
{% endblock %}
