{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<h1>Movies</h1>
<ul>
	<!-- NOTE movie in this list should also correspond to each movie  -->
	{% for movie in movies %}
	<li class="movies-list">
		<!-- I want one card each and for that card to go to the page on the backend -->
	</li>
	<!-- NOTE will try passing each title as a class that will be filled by the js -->
	{% endfor %}
</ul>
<div class="container movies">
	
</div>
{% block scripts %}
<script src="{{ url_for('media.static', filename='/js/movies.js') }}"></script>
{% endblock %} {% endblock %}
