{% extends "layout.jinja2" %}

<link
   href="{{ url_for('static', filename='dist/css/style.min.css') }}"
   rel="stylesheet"
   type="text/css"
/>
<script
   src="{{ url_for('static', filename='dist/js/main.min.js') }}">
</script>